.centered {
	text-align: center;
	top: 40px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.byline {
	color: grey;
	font-size: 14px;
	transform: translateY(-15px);
}

@keyframes clickMe {
	0% {background-color: lightgrey; border-color: grey; font-weight: normal}
	100% {background-color: lightyellow; border-color: lightpink; font-weight: bold}
}


#resume_button {
	animation: clickMe 2s indefinite;
	/* background-color: lightgrey; */
}



/* #resume_button:hover {
	animation: clickMe 1s indefinite;
} */
