.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  height: 400px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10%;
}

.App-header-text {
  float: left;
  margin-left: 10%;
  width: 40%;
}

.My-picture {
  pointer-events: none;
  float: left;
  margin-left: 8%;
  height: 100%;
}

hr {
  margin-top: 10%;
  border: 0.2px solid #FAF9F6;
}

.App-link {
  color: #61dafb;
}
