.App {
  text-align: left;
}

.section {
  display: flex;
  flex-direction: row;
  height: 400px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10%;
}

.section-text {
  float: left;
  margin-left: 10%;
  width: 40%;
}

.picture {
  pointer-events: none;
  float: left;
  margin-left: 8%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture img {
  width: 100%;
}

.picture p {
  font-size: 10px;
  color: rgb(112, 116, 119);
}

.picture a {
  color: rgb(112, 116, 119);
}

.ResumeButton {
  background-color: var(--button-color);
  border: none;
  height: 50px;
  width: 200px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: var(--button-highlight);
  }
}

#menu-button {
  width: 50px;
  height: 50px;
  background-color: var(--button-color);
  &:hover {
    cursor: pointer;
    background-color: var(--button-highlight);
  }
  border-radius: 50%;
  position: fixed;
  top: 5%;
  left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.menu-open {
    translate: 250px;
  }
  &.menu-closed {
    translate: 0px;
  }
}

.menu-bar {
  background-color: white;
  height: 3px;
  width: 50%;
  border-radius: 1px;
}

.menu-space {
  height: 5px;
  width: 50%;
}

#side-navigation {
  height: 100%;
  background-color: #1b1c1f;
  border-right: 2px solid white;
  color: white;
  width: 250px;
  position: fixed;
  /* translate: -250px; */
  /* transition: transform 0.4s ease-out; */
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  &.navigation-open {
    translate: 0px;
  }
  &.navigation-closed {
    translate: -250px;
  }
}

.navigation-text {
  margin-top: 40px;
  margin-left: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .ease-in {
    animation: ease-in-animation 1s linear;
  }
  .menu-opening {
    animation: menu-opening-animation 0.5s linear forwards;
  }
  .menu-closing {
    animation: menu-closing-animation 0.5s linear forwards;
  }
  .navigation-opening {
    animation: navigation-opening-animation 0.5s linear forwards;
  }
  .navigation-closing {
    animation: navigation-closing-animation 0.5s linear forwards;
  }
}

@keyframes ease-in-animation {
  from {
    transform: translateY(-3%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-opening-animation {
  0% {
    translate: 0px;
  }
  5% {
    rotate: -10deg;
  }
  95% {
    rotate: 190deg;
  }
  100% {
    rotate: 180deg;
    translate: 250px;
  }
}

@keyframes menu-closing-animation {
  0% {
    translate: 250px;
  }
  5% {
    rotate: 10deg;
  }
  95% {
    rotate: -190deg;
  }
  100% {
    rotate: -180deg;
    translate: 0px;
  }
}

@keyframes navigation-opening-animation {
  from {
    translate: -250px;
  }
  to {
    translate: 0px;
  }
}

@keyframes navigation-closing-animation {
  from {
    translate: 0px;
  }
  to {
    translate: -250px;
  }
}

hr {
  margin-top: 10%;
  border: 0.2px solid #faf9f6;
}

.App-link {
  color: #61dafb;
}
